{% extends "base.html" %}

{% block content %}
<p>
    <button>
        <a href="{% url 'app:person-create' %}">Ajouter une personne</a>
    </button>
</p>
<h1 class="w3-jumbo w3-animate-top">Liste des personnes</h1>
<hr class="w3-border-grey" style="margin:auto;width:40%">

<p class="w3-large w3-center">
<ul>
    {% for person in persons %}
    <li class="w3-jumbo w3-animate-top ">
        <a href="{% url 'app:person-profile' person.pk %}">
            {{forloop.counter}}. {{person.first_name}} {{person.last_name}} ({{person.age}} ans)
        </a>
    </li>
    {% endfor %}
</ul>
</p>
{% endblock content %}
